<header id="header">
    <div class="header_area">
        <h1 class="logo">
            <a href="">タイトル</a>
        </h1>
        <nav class="header_nav">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </div><!-- .header_area -->
</header>