.wrapper {
  position: relative;
}
.show-pict1 {
  height: 790px;
  width: 1500px;
}

.footer {
  height: 89px;
  width: 100%;
  background-color: rgba(230, 236, 230, 0.452);
  z-index: 500;
  display: flex;

  position: absolute;
  top: 700px;
}
.information-logo {
  width: 20%;
  color: black;
  padding: 30px 0 0 20px;
}
.information-container {
 width: 20%;

}

.information-container h1 {
  color: black;
  padding-top: 10px;
}

.information-nav {
  width: 40%;
  padding-top: 40px;
  margin-left: 200px;
  text-decoration: none;
}

.information-lists {
  margin: 0;
  padding: 0;
  font-family: serif;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.footer-news {
  text-decoration: none;
  color: black;
}

.footer-construction {
  text-decoration: none;
  color: black;
}
.footer-information {
  text-decoration: none;
  color: black;
}

.footer-contact {
  text-decoration: none;
  color: black;
}