.s-footer-wrapper {
  background-color: rgba(230, 236, 230, 0.411);
}

.s-footer-contents {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.s-footer-left {
  display: flex;
}

.s-footer-left > div {
  margin: 10px 50px;   
}

.s-footer-tittle {
  padding-top: 25px;
}

.s-footer-right > ul {
  display: flex;
  padding-top: 35px;
}

.s-footer-right li {
  padding: 0 25px;
}

.s-footer-news {
  text-decoration: none;
  color: black;
}
.s-footer-information {
  color: black;
  text-decoration: none;
}
.s-footer-contact {
  color: black;
  text-decoration: none;
}
.s-footer-construction {
  color: black;
  text-decoration: none;
}

