<footer>
  <div class="footer-logo">篠原工務店</div>
  <div class="footer-container">
  <h1>〒392-0015<br>長野県諏訪市中洲5455-45<br>TEL: 0266-57-5788</h1>
  </div>
  <div class="footer-nav">
    <ul class="footer-lists">
      <li><a href="#"></a>最新情報</li>
      <li><a href="#"></a>施工例</li>
      <li><a href="#"></a>会社案内</li>
      <li><a href="#"></a>お問い合わせ</li>
    </ul>
  </div>
</footer>