<div class="footer">
  <div class="information-logo">篠原工務店</div>
  <div class="information-container">
  <h1>〒392-0015<br>長野県諏訪市中洲5455-45<br>TEL: 0266-57-5788</h1>
  </div>
  <div class="information-nav">
    <ul class="information-lists">
      <li><%= link_to '最新情報',posts_path, class: "footer-news"%></li>
      <li><%= link_to '施工例', constructions_path,class: "footer-construction"%></li>
      <li><%= link_to '会社案内', abouts_path, class: "footer-information"%></li>
      <li><%= link_to 'お問い合わせ', inquiries_path, class: "footer-contact"%></li>
    </ul>
  </div>
</div>