<header>
  <div class="header-left">
    <i class="far far fa-smile fa-3x"></i>
  </div>
  <div class="nav-bar">
    <ul class="nav-lists">
        <li><a href="#"></a>最新情報</li>
        <li><a href="#"></a>施工例</li>
        <li><a href="#"></a>会社案内</li>
        <li><a href="#"></a>お問い合わせ</li>
    </ul>
  </div>
</header>