<header>
  <div class="header-left">
    <a href="/"><i class="far far fa-smile fa-3x"></i></a>
  </div>
  <div class="nav-bar">
    <ul class="nav-lists">
      <li><%= link_to '最新情報',posts_path, class: "header-news"%></li>
      <li><%= link_to '施工例',   class: "header-construction"%></li>
      <li><%= link_to '会社案内', abouts_path, class: "header-information"%></li>
      <li><%= link_to 'お問い合わせ', class: "header-contact"%></li>
    </ul>
  </div>
</header>