<header>
  <div class="header-left">
    <a href="/"><i class="far far fa-smile fa-3x"></i></a>
  </div>
  <div class="nav-bar">
    <ul class="nav-lists">
      <li><%= link_to '最新情報',  method: :get, class: "header-news"%></li>
      <li><%= link_to '施工例',  method: :get, class: "header-construction"%></li>
      <li><%= link_to '会社案内', informations_show_path, method: :get, class: "header-information"%></li>
      <li><%= link_to 'お問い合わせ',  method: :get, class: "header-contact"%></li>
    </ul>
  </div>
</header>