.wrapper-c {
  padding: 130px 0;
  background-image: image-url("image30.png");
  background-size: cover;
}

.wapper-d {

}

.item-box {
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
}

.box {
  flex-direction: column;
  padding-top: 2vh;
  width: 35%;
}
.box>.name {
  font-weight: bold;
  font-size: 20px;
}

.box>.message {
  padding-top: 3vh;
  font-size: 13px;
}

.item-box-img {
  height: 40vh;
  min-height: 400px;
  padding-left: 10vw;
  object-fit: contain;
}

.bar {
  display: flex;
  flex-direction: column;
}

.item-red-btn {
  color: black;
  padding-top: 4vh;
  padding-left: 30vh;
}

.item-destroy {
  color: black;
  padding-left: 30vh;
}
.or-text {
  color: black;
  padding-left: 30vh;
}

.button {
  margin: 300px 0;
}