<%= render "shared/header"%> 
<div class="wrapper">
  <h1>Corporate Guide..</h1>
  <ul class="wrapper-left">
    <li>会社内容</li>
    <li>所在地</li>
    <li>TEL</li>
    <li> FAX</li>
    <li> E-mail</li>
    <li> 代表者</li>
    <li>事業内容</li>
    <li>許可登録</li>
  </ul>
  <ul class="wrapper-right">
    <li>有限会社篠原工務店</li>
    <li>長野県諏訪市中洲福島5455-48</li>
    <li>0266-57-5788</li>
    <li>0266-58-6667</li>
    <a href="#"><li>info@k-shinohara.com<li></a>
    <li>篠原威治 [Shinohara Takeharu</li>
    <li>設計・施工・監理</li>
    <li>長野県知事許可（般12）第019370号</li>
  </ul>
  <div class="maps">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3226.8476740839633!2d138.11333231526822!3d36.02401298011579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601c55d42cfaa25f%3A0x5cb4b87a24419eb9!2z77yI5pyJ77yJ56-g5Y6f5bel5YuZ5bqX!5e0!3m2!1sja!2sjp!4v1600611325076!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  <div class="links">
    <h2>Links..</h2>
    <ul class="link">
      <a href="http://www.chuden.co.jp/"><li>中部電化（オール電化のご案内）</li></a>
      <a href="http://www.tostem.co.jp/"><li>トステム（新築＆リフォーム。サッシからキッチン）</li></a>
      <a href="http://www.yatsu-akadake.com/"><li>八ヶ岳本沢温泉グループ（当社が施工をした山小屋もあり）</li></a>
      <a href="http://www.takachiho-corp.co.jp/materials_2.html"><li>薩摩中霧島壁（100％自然素材の内装用仕上げ材）</li></a>
    </ul>
  </div>
</div>
<%= render "shared/footer"%>