*{
  font-family: serif;
}
#top-wrapper {
  height: 800px;/* ← 背景（動画）の高さを設定しています */
  width: 100%;
  overflow: hidden;
  background-size: cover;
}


.top-container {
  position: relative;
  padding: 300px 0;
  z-index: 300;
}

.top-container h1 {
  width: 100%;
  font-size: 45px;
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.541);
}

.top-container h2 {
  width: 100%;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.541);
  display: inline-block;
  text-align: center;
}
/* main first */
.main-wrapper {
  position: relative;
  background-image: image-url("image02.png");
  background-size: cover;
  z-index: 400;
}

.f-contents {
  padding: 50px 0;
}

.f-contents > ul {
  display: flex;
  flex-direction: row-reverse;
  padding: 100px 0; 
}

.f-contents div {
  font-size: 18px;
  font-weight: 600;
  margin: 100px 50px;
}

.img01 {
  opacity: 0.9;
}

.img02 {
  padding-top: 200px;
  opacity: 0.6;
}
/* main second */
.s-contents > div {
  font-size: 18px;
  font-weight: 600;
  margin: 100px 50px;
}

.s-contents > ul{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 4vw;
}

.img03 {
  opacity: 0.9;
}
.img04 {
  opacity: 0.9;
  padding-top: 100px;

}
.img05 {
  opacity: 0.7;
  padding-top: 280px;
}
/* main third */
.t-contents {
  padding: 100px 30px;
}

.t-content {
  background-color: rgba(255, 255, 255, 0.384);
  margin: 10px auto;
}

.t-content > div {
  font-size: 25px;
}

.t-content > ul {
  display: flex;
  justify-content: space-around;
}

.t-content > ul > li {
  margin: 20px auto;
}
/* footer */
.footer-wrapper {
  background-color: rgba(2, 2, 68, 0.685);
}

.footer-contents {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.footer-left {
  display: flex;
}

.footer-left > div {
  margin: 10px 50px;   
}

.footer-tittle {
  padding-top: 25px;
}

.footer-right > ul {
  display: flex;
  padding-top: 35px;
}

.footer-right li {
  padding: 0 25px;
}

.news {
  text-decoration: none;
  color: white;
}
.information {
  color: white;
  text-decoration: none;
}
.contact {
  color: white;
  text-decoration: none;
}
.construction {
  color: white;
  text-decoration: none;
}



@media screen and (max-width: 1024px){

  #tubular-container iframe {
      display: none;
  }

  #top-wrapper{
    background-image: url(https://source.unsplash.com/random);      
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
