*{
  font-family: serif;
}
#top-wrapper {
  height: 800px;/* ← 背景（動画）の高さを設定しています */
  width: 100%;
  overflow: hidden;
  background-size: cover;
}


.left-container {
  position: absolute;
  top: 300px;
  z-index: 3;
}
.left-container h1 {
  font-size: 45px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.541);
}
.left-container h2 {
  font-size: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.541);
}


.main-wrapper {
  position: relative;
}

.pict1 {
  z-index: 100;
  width: 100vw;
  position: absolute;
}

.pict2 {
  z-index: 400;
  width: 45vh;
  height: 60vh;
  opacity: 0.9;

  position: absolute;
  top: 150px;
  left: 550px;
}

.pict3 {
  z-index: 300;
  width: 60vh;
  height: 30vh;
  opacity: 0.6;

  position: absolute;
  top: 350px;
  left: 90px;
}


.first-container h4 {
  font-size: 20px;
  z-index: 150;

  position: absolute;
  top: 230px;
  left: 970px;
}


.second-container h5 {
  font-size: 19px;
  margin-left: 0 0 0 90px;
  z-index: 150;

  position: absolute;
  top: 760px;
  left: 90px;
}

.pict4 {
  z-index: 400;
  width: 60vh;
  height: 30vh;
  opacity: 0.9;

  position: absolute;
  top: 990px;
  left: 540px;
}

.pict5 {
  z-index: 400;
  width: 45vh;
  height: 60vh;
  opacity: 0.9;
  
  position: absolute;
  top: 920px;
  left: 990px;
}

.pict6 {
  z-index: 400;
  width: 60vh;
  height: 40vh;
  opacity: 0.7;

  position: absolute;
  top: 1200px;
  left: 100px;
}

.pict7 {
  z-index: 400;
  width: 45vh;
  height: 40vh;

  position: absolute;
  top: 1650px;
  left: 180px;
}

.pict8 {
  z-index: 400;
  width: 45vh;
  height: 40vh;

  position: absolute;
  top: 1650px;
  left: 590px;
}
.pict9 {
  z-index: 400;
  width: 45vh;
  height: 40vh;

  position: absolute;
  top: 1650px;
  left: 1000px;
}

.second-container h6 {
  font-size: 25px;
  margin-left: 0 0 0 90px;
  z-index: 150;
  width: 200px;
  border-bottom: black solid 1px;

  position: absolute;
  top: 1600px;
  left: 40px;
}

.three-container {
  width: 100%;
  height: 400px;
  z-index: 100;
  position: absolute;
  top: 1600px;
  opacity: 0.5;
  background-color: white;
}

.footer-line {
  width: 100%;
  height: 50px;
  z-index: 400;
  position: absolute;
  top: 2800px;
  background-color: rgba(185, 166, 136, 0.562);
}

footer {
  width: 100%;
  background-color: rgba(2, 2, 68, 0.774);
  z-index: 1000;
  display: flex;

  position: absolute;
  top: 2825px;
}
.footer-logo {
  width: 20%;
  color: white;
  padding: 5C0px 0 50px 50px;
}

.footer-container h1 {
  color: white;
  padding-top: 40px;
}

.footer-nav {
  width: 63%;
  padding: 58px 0;
  text-decoration: none;
}

.footer-nav > ul {
  display: flex;
  text-decoration: none;
  padding-left: 300px;
}

.news {
  text-decoration: none;
  color: white;
}
.information {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
.contact {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
.construction {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}




@media screen and (max-width: 1024px){

  #tubular-container iframe {
      display: none;
  }

  #top-wrapper{
    background-image: url(https://source.unsplash.com/random);      
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
